
.imagen-producto {

    max-width: 150px;

}

.item-pro{

    margin-top: 10px;
    margin-bottom:10px;
}

.nav-link
{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}